*.asv
Docs\Plannification.mpp
*/~$*
*.mid
config.txt
*.rej
Sources\testCompiler\*
Sources\testC++\*
Sources/Application/build-GenTab-Desktop_Qt_5_5_1_MinGW_32bit-*
Sources/Application/GenTab/GenTab.pro*